*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body
{
  background: #232323;
}

.title-container
{
  position: absolute;
  padding: 2rem 1rem;
}

.title
{
  color: orangered;
  text-align: center;
}

.paragraph
{
  width: 60%;
  color: rgb(168, 169, 170);
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 768px)
{
  .paragraph
  {
    width: 100%;
    font-size: 0.9rem;
  }
}